# Pandas: grouping

In [1]:
import pandas as pd
import numpy as np

In [2]:
cars = pd.read_csv("vehicles.csv")

In [3]:
cars

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150

In [4]:
def makelower(df):
    columns=list(map(str.lower,df.columns))
    for c,val in enumerate(columns):
        columns[c]=val.replace(" ","_")
    df.columns=columns
    return df




cars = makelower(cars)
cars

,make,model,year,engine_displacement,cylinders,transmission,drivetrain,vehicle_class,fuel_type,fuel_barrels/year,city_mpg,highway_mpg,combined_mpg,co2_emission_grams/mile,fuel_cost/year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150

How many Car models?

In [5]:
#To figure out how many models there are I'm checking how many unique values there are in the model column.
print(f" There are {len(cars['model'].unique())} different car models")

 There are 3608 different car models

group by the data by the Make  using count function

In [12]:
#The first line returns a df with ALL different models, also seperating per year and all.
make_group=cars.groupby("make")["model"].count().reset_index()
#This next line, however, returns a dataframe as shown below with only unique models, but not differing
# for example between Fiat Panda 2008 and Fiat Panda 2020. Both answers here can be seen as correct.
models_per_brand=cars.groupby("make")["model"].nunique().reset_index()
models_per_brand

                            make  model
0                     AM General      4
1               ASC Incorporated      1
2                          Acura     39
3                     Alfa Romeo      8
4    American Motors Corporation      4
..                           ...    ...
122                   Volkswagen     63
123                        Volvo     83
124        Wallace Environmental     18
125                         Yugo      4
126                        smart      3

[127 rows x 2 columns]

In [8]:
cars.model.unique()

array(['DJ Po Vehicle 2WD', 'FJ8c Post Office', 'Post Office DJ5 2WD',
       ..., 'fortwo cabriolet', 'fortwo convertible', 'fortwo coupe'],
      dtype=object)

Converting Grams/Mile to Grams/Km

1 Mile = 1.60934 Km

Converting Gallons to Liters

1 Gallon = 3.78541 Liters

What brand has the most cars?

In [ ]:
# I'm locating the row where the model column has the highest value. In reality the model number is how many
# cars the manufactuer has. We can see that Chevrolet is the make with the highest number of cars.
make_group.loc[make_group["model"]==make_group["model"].max()]

<b>show the average CO2_Emission_Grams/Km  by Brand

In [ ]:
cars["co2_emission_grams/mile"] /= 1.60934
cars=cars.rename(columns={"co2_emission_grams/mile": "CO2 emission grams/km"})

In [ ]:
co2_group=cars.groupby("make")["CO2 emission grams/km"].mean().reset_index()
co2_group

<b>show the average CO2_Emission_Grams/Km  by Brand ... sorted

In [ ]:
co2_sorted=co2_group.sort_values(by="CO2 emission grams/km")
co2_sorted

# (Optional)

Use `pd.cut` or `pd.qcut` to create 4 groups (bins) of cars, by Year. We want to explore how cars have evolved decade by decade.

In [13]:
cars['year'].describe()

count    35952.00000
mean      2000.71640
std         10.08529
min       1984.00000
25%       1991.00000
50%       2001.00000
75%       2010.00000
max       2017.00000
Name: year, dtype: float64

In [14]:
pd.cut(cars["year"],bins=4)

0        (1983.967, 1992.25]
1        (1983.967, 1992.25]
2        (1983.967, 1992.25]
3        (1983.967, 1992.25]
4        (1983.967, 1992.25]
                ...
35947      (2008.75, 2017.0]
35948      (2008.75, 2017.0]
35949      (2008.75, 2017.0]
35950      (2008.75, 2017.0]
35951      (2008.75, 2017.0]
Name: year, Length: 35952, dtype: category
Categories (4, interval[float64, right]): [(1983.967, 1992.25] < (1992.25, 2000.5] < (2000.5, 2008.75] < (2008.75, 2017.0]]

In [22]:
car_by_year = cars.groupby(["make",pd.cut(cars["year"],bins=4)])
car_by_year

### Did cars consume more gas in the eighties?

show the average City_Km/Liter by year_range

In [ ]:
### your code is here

Which brands are more environment friendly?

In [ ]:
### your code is here

Does the drivetrain affect fuel consumption?

In [ ]:
## Your Code here

Do cars with automatic transmission consume more fuel than cars with manual transmission?

In [ ]:
## Your Code here

Use `groupby` and `agg` with different aggregation measures for different columns:

aggregate with average City_Km/Liter and the count of the Trans

In [ ]:
## your code is here

aggregate with average City_Km/Liter and the minimum of the Trans

In [ ]:
### your code is here